<div class="container my-5">
  <div class="py-5 px-3 px-lg-5 text-center bg-white border rounded-3">
    <h1 class="text-body-emphasis">Driving School Portal</h1>
    <p class="mx-auto fs-5 text-muted">
      The project involves creating an online booking platform specifically for driving schools. This application facilitate the driving schools and its instructors to register under one platform and fasciculate a common person to choose driving school according to his preference (Particular instructor and location). Driving schools will register in this driving school and allow driving instructors to register under particular deriving school. Developer should get knowledge of driving school operations and familiarity with the specific needs and requirements of the industry would be highly advantageous.
    </p>
    <div class="d-inline-flex gap-2">
      <% if user_signed_in? %>
        <% if current_user&.role === "admin" %>
          <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="/allusers">All Users</a>
        <% else %>
          <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="/users/edit">Update User</a>
        <% end %>
        <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="<%= destroy_user_session_path %>" data-method="delete">Log Out</a>
      <% else %>
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="<%= new_user_session_path %>">Sign in</a>
        <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="<%= new_user_registration_path %>">Sign up</a>
      <% end %>
    </div>
  </div>
</div>