<div class="container-xl py-4">
  <h4>All Bookings</h4>
  <%# if @bookings.present? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Lesson Name</th>
          <th>Insctructor Name</th>
          <th>School Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%# @bookings.each do |booking| %>
        <tr>
          <td class="align-middle"><%#= booking.lesson.name %></td>
          <td class="align-middle">
            <%#= booking.instructor.first_name %><%#= booking.instructor.last_name
            %>
          </td>
          <td class="align-middle"><%#= booking.school.first_name %></td>
          <td class="align-middle">
            <%#= booking.status %>
            <span class="badge rounded-pill py-2 px-3 text-bg-success">
              Completed
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-danger">
              Cancelled
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-secondary">
              Draft
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-primary">
              Confirmed
            </span>
          </td>
          <td class="align-middle">
            <div class="d-flex align-items-center flex-wrap gap-2">
              <%# if booking.status === 'confirmed' %>
              <a
                href="<%#= complete_booking_path(booking)%>"
                class="btn btn-success"
                data-remote="true"
              >
                Complete
              </a>
              <%# end %> 
              <%# if (booking.status !== 'cancelled' || booking.status
              !== 'completed') %>
              <a
                href="<%#= cancel_booking_path(booking)%>"
                class="btn btn-danger"
                data-remote="true"
              >
                Cancel
              </a>
              <%# end %> 
              <%# if (booking.status === 'cancelled' || booking.status
              === 'completed') %>
              <a
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#reviewModal"
              >
                Add your review
              </a>
              <%# end %>
            </div>
          </td>
        </tr>
        <%#end%>
      </tbody>
    </table>
  </div>
  
  <!-- Review Modal -->
  <div
    class="modal fade"
    id="reviewModal"
    tabindex="-1"
    aria-labelledby="reviewModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewModalLabel">
            How was your lesson and instructor
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Rate your instructor</label>
            <select class="star-rating">
              <option value="">Select a rating</option>
              <option value="5">Excellent</option>
              <option value="4">Very Good</option>
              <option value="3">Average</option>
              <option value="2">Poor</option>
              <option value="1">Terrible</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Write your feedback</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-primary">Add Review</button>
        </div>
      </div>
    </div>
  </div>
  <%# else %>
  <div class="bg-white p-4 border rounded">No Booking currently exists.</div>
  <%# end %>
</div>
