<div class="container my-5">
  <div class="py-5 px-3 px-lg-5 bg-white border rounded-3">
    <h1 class="text-body-emphasis text-center">Find driving schools</h1>
    <%= form_with url: learners_searchlocation_path, method: :get, remote: true, class: "mw-700 mx-auto d-flex flex-column justify-content-center align-items-start gap-3 mt-4" do |f| %>

        <label class="form-label h4 mb-0 fw-normal">Search by location</label>
        <%= f.text_field :search, value: params[:search], placeholder: "Enter location", class: "form-control form-control-lg", required: true %>

        <%= f.submit "Search", class: "btn btn-primary btn-lg" %>
    <% end %>

    <% if @schools.present? %>
      <%= render 'createbooking' %>
    <% else %>
      <p> No Results Found! </p>
    <% end %>
  </div>
</div>