<div class="container my-5">
  <div class="py-5 px-3 px-lg-5 bg-white border rounded-3">
    <h1 class="text-body-emphasis text-center">Find driving schools</h1>
    <form class="mw-700 mx-auto d-flex flex-column justify-content-center align-items-start gap-3 mt-4">

        <label class="form-label h4 mb-0 fw-normal">Search by location</label>
        <input type="text" placeholder="Enter location" class="form-control form-control-lg" required>

        <input type="submit" class="btn btn-primary btn-lg" value="Search">
    <form>
  </div>
</div>