<div class="container-xl py-4">
  <h4>All Bookings</h4>
  <%# if @bookings.present? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Lesson Name</th>
          <th>Insctructor Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <%# @bookings.each do |booking| %>
        <tr>
          <td class="align-middle">
            <%#= booking.user.first_name %><%#= booking.user.last_name %>
          </td>
          <td class="align-middle"><%#= booking.lesson.name %></td>
          <td class="align-middle">
            <%#= booking.instructor.first_name %><%#= booking.instructor.last_name
            %>
          </td>
          <td class="align-middle">
            <%#= booking.status %>
            <span class="badge rounded-pill py-2 px-3 text-bg-success">
              Completed
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-danger">
              Cancelled
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-secondary">
              Draft
            </span>
            <span class="badge rounded-pill py-2 px-3 text-bg-primary">
              Confirmed
            </span>
          </td>
        </tr>
        <%#end%>
      </tbody>
    </table>
  </div>
  <%# else %>
  <div class="bg-white p-4 border rounded">No Booking currently exists.</div>
  <%# end %>
</div>
