<div class="container-xl py-4">
  <h4>All Bookings</h4>
  <% if @bookings.present? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Lesson Name</th>
          <th>Insctructor Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
        <tr>
          <td class="align-middle">
            <%= booking.customer.first_name %><%= booking.customer.last_name %>
          </td>
          <td class="align-middle"><%= booking.lesson.title&.humanize %></td>
          <td class="align-middle">
            <%= booking.lesson.instructor.full_name %>
          </td>
          <td class="align-middle">
            <% if booking.status == "completed" %>
            <span class="badge rounded-pill py-2 px-3 text-bg-success">
              Completed
            </span>
            <% elsif booking.status == "cancelled"%>
            <span class="badge rounded-pill py-2 px-3 text-bg-danger">
              Cancelled
            </span>
            <%elsif booking.status == "draft"%>
            <span class="badge rounded-pill py-2 px-3 text-bg-secondary">
              Draft
            </span>
            <%elsif booking.status == "confirmed"%>
            <span class="badge rounded-pill py-2 px-3 text-bg-primary">
              Confirmed
            </span>
            <%end%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="bg-white p-4 border rounded">No Booking currently exists.</div>
  <% end %>
</div>
